@use "@/styles/vars" as vars;

.weatherChart {
  display: flex;
  max-width: 100%;
  min-height: 200px;
  padding: 15px;
  border: 2px solid vars.$main-dark-blue;
  background-color: white;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}