.dayCard {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__dateTime {
    color: orange;
  }

  &__cityName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__cloudTemperature {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    gap: 10px;

    & img {
      width: 25px;
      height: 25px;
    }
  }

  &__shortDescription {
    font-size: 14px;
    font-weight: bold;
  }

  &__stats {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 1px solid orangered;
  }

  &__statsRow {
    display: grid;
    margin-left: 20px;
    grid-template-columns: 130px auto;
  }
}