$main-dark-blue: #2d3e5f;
$hover-dark-blue: #43598d;
$main-bg-color: #B7C8CE;
$main-bg-night-color: #494b62;
$selected-btn-text-color: white;
$main-block-color: #f1ecec;
$border-light-gray-color: #e6e6e6;
$max-desktop-width: 800px;