@use "@/styles/vars" as vars;

.header {
  background-color: vars.$main-dark-blue;
  height: 80px;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 50;

  .logo {
    background-image: url("@/assets/logo.webp");
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
  }
}