.delete__popup_page {
  position: fixed;
  font-family: "Roboto", sans-serif;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 152;
}

.content__container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  width: 500px;
  z-index: 154;
  gap: 5px;

  .delete__popup_header {
    width: 100%;
    display: flex;
    justify-content: end;
    & .close__button {
      &:hover {
        img {
          border: 2px #1682E7 solid;
        }
      }
    }
  }

  .delete__popup_text_container {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
  }

  .button__container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;

    & button {
      width: 40px;
    }
  }
}