@use "@/styles/vars" as vars;

.mainTabBar {
  width: 100%;
  display: flex;
  gap: 7px;
  padding: 10px 10px 0;
  box-sizing: border-box;
  position: relative;

  &__btn, &__btn_selected {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 2px solid vars.$main-dark-blue;
    border-radius: 4px;
  }

  &__btn {
    background-color: vars.$main-block-color;
    color: vars.$main-dark-blue;

    &:hover {
      background-color: vars.$hover-dark-blue;
      color: vars.$selected-btn-text-color;
    }
  }

  &__btn_selected {
    background-color: vars.$main-dark-blue;
    color: vars.$selected-btn-text-color;
  }
}